In [4]:
import pandas as pd
import numpy as np

# Load the dataset
file_path = '/content/AB_NYC_2019.csv'
data = pd.read_csv(file_path)

# Data Integrity Check: Display basic information and check for inconsistencies
print("Data Information:")
print(data.info())

print("\nData Summary Statistics:")
print(data.describe())

# Missing Data Handling: Display missing values count
print("\nMissing Values Count:")
print(data.isnull().sum())

# Handling missing data
# Convert 'last_review' to datetime
if 'last_review' in data.columns:
    data['last_review'] = pd.to_datetime(data['last_review'], errors='coerce')

# Impute 'last_review' with the median date
if 'last_review' in data.columns:
    median_date = data['last_review'].median()
    data['last_review'].fillna(median_date, inplace=True)

# Fill other missing values (e.g., 'reviews_per_month') with mean or mode
if 'reviews_per_month' in data.columns:
    data['reviews_per_month'].fillna(data['reviews_per_month'].mean(), inplace=True)

# Duplicate Removal: Identify and remove duplicate records
print("\nDuplicate Records Count: ", data.duplicated().sum())
data.drop_duplicates(inplace=True)

# Standardization: Ensure consistent formatting and units
data.columns = [col.lower().strip() for col in data.columns]
for col in data.select_dtypes(include=['object']).columns:
    data[col] = data[col].str.lower().str.strip()

# Outlier Detection: Identify and handle outliers
def detect_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] < lower_bound) | (df[column] > upper_bound)]

numeric_columns = data.select_dtypes(include=[np.number]).columns
outliers = pd.DataFrame()
for col in numeric_columns:
    outliers = pd.concat([outliers, detect_outliers(data, col)])

print("\nOutliers Detected:")
print(outliers)

# Optionally handle outliers (e.g., remove or cap them)
for col in numeric_columns:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    data[col] = np.where(data[col] < lower_bound, lower_bound, data[col])
    data[col] = np.where(data[col] > upper_bound, upper_bound, data[col])

# Save the cleaned dataset
cleaned_file_path = '/content/AB_NYC_2019.csv'
data.to_csv(cleaned_file_path, index=False)

print("\nData Cleaning Process Completed. Cleaned data saved to:", cleaned_file_path)

Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

Data Summary Statistics:
                 id       host_id      latitude     longitude         price  \
count  4.889500e+04  4.889500e+04  48895.000000  48895.000000  48895.000000
mean   1.901714e+07  6.762001e+07     40.728949    -73.952170    152.720687
std    1.098311e+07  7.861097e+07      0.054530      0.046157    240.154170
min    2.539000e+03  2.438000e+03     40.499790    -74.244420      0.000000
25%    9.471945e+06  7.822033e+06     40.690100    -73.983070     69.000000
50%    1.967728e+07  3.079382e+07     40.723070    -73.955680    106.000000
75%    2.915218e+07  1.074344e+08     40.763115    -73.936275    175.000000
max    3.648724e+07  2.743213e+08     40.913060    -73.712990  10000.000000

       minimum_nights  number_of_reviews  reviews_per_month  \
count    48895.000000       48895.000000       38843.000000
mean         7.029962          23.274466           1.373221
std         20.510550          44.550582           1.680442
min          1.000000           0.000000           0.010000
25%          1.000000           1.000000           0.190000
50%          3.000000           5.000000           0.720000
75%          5.000000          24.000000           2.020000
max       1250.000000         629.000000          58.500000

       calculated_host_listings_count  availability_365
count                    48895.000000      48895.000000
mean                         7.143982        112.781327
std                         32.952519        131.622289
min                          1.000000          0.000000
25%                          1.000000          0.000000
50%                          1.000000         45.000000
75%                          2.000000        227.000000
max                        327.000000        365.000000

Missing Values Count:
id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Duplicate Records Count:  0

Outliers Detected:
             id                                               name    host_id  \
43384  33621795                                         queen room  257565053
43385  33621826                                standard queen room  257567667
43386  33621851                                     standard queen  257569145
43387  33622308                   double room with two double beds  257565053
44064  34018291                   laid back williamsburg apartment  256857295
...         ...                                                ...        ...
48858  36458668  2beds private room step to lga, citifiled, mid...  217463199
48867  36473044    the place you were dreaming for.(only for guys)  261338177
48868  36473253                       heaven for you(only for guy)  261338177
48878  36479723                                      room for rest   41326856
48893  36485609               43rd st. time square-cozy single bed   30985759

                host_name neighbourhood_group    neighbourhood  latitude  \
43384         the redford           manhattan  lower east side  40.72110
43385          the gatsby           manhattan  lower east side  40.72335
43386  the orchard street           manhattan  lower east side  40.72018
43387         the redford           manhattan  lower east side  40.71943
44064                 amy            brooklyn     williamsburg  40.71280
...                   ...                 ...              ...       ...
48858               marvy              queens         flushing  40.74387
48867               diana            brooklyn        gravesend  40.59080
48868               diana            brooklyn        gravesend  40.59118
48878         jeerathinan              queens         elmhurst  40.74477
48893                 taz           manhattan   hell's kitchen  40.75751

       longitude     room_type  price  minimum_nights  number_of_reviews  \
43384  -73.98930  private room    135               1                  0
43385  -73.99138  private room    100               1                  0
43386  -73.98813  private room    219               1                  0
43387  -73.98753  private room    159               1                  0
44064  -73.93960  private room    100               2                  4
...          ...           ...    ...             ...                ...
48858  -73.82556  private room     68               3                  0
48867  -73.97116   shared room     25               1                  0
48868  -73.97119   shared room     25               7                  0
48878  -73.87727  private room     45               1                  0
48893  -73.99112   shared room     55               1                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
43384  2019-05-19           1.373221                               2
43385  2019-05-19           1.373221                               1
43386  2019-05-19           1.373221                               1
43387  2019-05-19           1.373221                               2
44064  2019-06-25           1.850000                               1
...           ...                ...                             ...
48858  2019-05-19           1.373221                               4
48867  2019-05-19           1.373221                               6
48868  2019-05-19           1.373221                               6
48878  2019-05-19           1.373221                               5
48893  2019-05-19           1.373221                               6

       availability_365
43384               162
43385               358
43386               362
43387               161
44064               169
...                 ...
48858               362
48867               338
48868               365
48878               172
48893                 2

[31568 rows x 16 columns]

Data Cleaning Process Completed. Cleaned data saved to: /content/AB_NYC_2019.csv